        <!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right d-none">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
				<li class="breadcrumb-item active">Dashboard v2</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">{{user.role}}'s Dashboard</small></h1>{{admin.firstname}}
			<!-- end page-header -->
			

			<div class="row">
				
			</div>
			
			<!-- begin row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-inverse" data-sortable-id="ui-widget-2">
						<div class="panel-heading ui-sortable-handle">
							
							<h4 class="panel-title">Direct Commission Earned</h4>
						</div>
						<div class="panel-body">
                        	<!-- begin table-responsive -->
                        	<div class="table-responsive">
								<table class="table table-striped m-b-0">
									<thead>
										<tr>
											{{!-- <th>#</th> --}}
											<th>Commission Earned</th>
											<th>Amount Sent</th>
											<th>Transaction Type</th>
											<th>From</th>
											<th>To</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										{{#each directCommission }}
											<tr>
                                                {{!-- <td></td> --}}
												<td>&#8358;{{  this.commissionsData.com_received }}</td>
												<td>&#8358;{{  this.foundingData.fund_amount }}</b></td>
												<td>{{  this.foundingData.fund_type }}</td>
												<td>Me</td>
												{{!-- <td>{{  this.foundingData.fund_sender.sender_name }} <b>({{  this.foundingData.fund_sender.sender_wallet_id }})</b></td> --}}
												<td>{{  this.foundingData.fund_receiver.receiver_name }} <b>({{  this.foundingData.fund_receiver.receiver_wallet_id }})</b></td>
												<td>{{formatDate this.createdAt }}</td>
											</tr>											
										{{/each}}
									</tbody>
								</table>								
							</div>
							<div class="panel-footer text-center">
								<a href="javascript:;" class="text-inverse btn btn-default">View All</a>
							</div>
							<!-- end table-responsive -->
						</div>
						<div class="hljs-wrapper">
						
						</div>
					</div>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		