        <!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
				<li class="breadcrumb-item active">Dashboard v2</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">{{user.role}}'s Dashboard</small></h1>{{admin.firstname}}
			{{> flash}}
			<!-- end page-header -->
			<!-- begin row -->
			<div class="row">
			    <!-- begin col-3 -->
				
			    <div class="col-lg-4 col-md-6">
			        <div class="widget widget-stats bg-gradient-teal">
						<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
			        	<div class="stats-content">
							<div class="stats-title">BEWLA BALLANCE</div>
							<div class="stats-number"> &#8358; {{formatCash adminWallet.ballance}}</div>
						</div>
			        </div>
			    </div>
				
			    <!-- end col-3 -->

				
			    <!-- begin col-3 -->
				{{#if companyStaff}}
			    <div class="col-lg-4 col-md-6">
			        <div class="widget widget-stats bg-gradient-teal">
						<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
			        	<div class="stats-content">
							<div class="stats-title">RECEIVED COMMISSIONS</div><span class="capped"></span>
							<div class="stats-number"> &#8358; {{totalcommission}}</div>
						</div>
			        </div>
			    </div>
				{{/if}}
			    <!-- end col-3 -->
				
				{{#unless companyStaff}}
			    <div class="col-lg-4 col-md-6">
			        <div class="widget widget-stats bg-gradient-teal">
						<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
			        	<div class="stats-content">
							<div class="stats-title">RECEIVED COMMISSIONS</div><span class="capped"></span>
							<div class="stats-number"> &#8358; {{totalagentCommission}}</div>
						</div>
			        </div>
			    </div>
				{{/unless}}
			    <!-- end col-3 -->
				
			</div>
			<!-- end row -->

			<div class="row">
				
			</div>
			
			<!-- begin row -->
			{{#if companyStaff}}
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-inverse" data-sortable-id="ui-widget-2">
						<div class="panel-heading ui-sortable-handle">
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-success btn-xs">Users</button>
								<button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="admins/accounts/users">Users</a></li>
									<li><a href="admins/accounts/agents">Agents</a></li>
									{{#if mainAdmin}}
									<li><a href="admins/accounts/managers">Managers</a></li>
									{{/if}}
									<li class="divider"></li>
									<li><a href="javascript:;">All Accounts</a></li>
								</ul>
							</div>
							<h4 class="panel-title">Registered Users</h4>
						</div>
						<div class="panel-body">
                        	<!-- begin table-responsive -->
                        	<div class="table-responsive">
								<table class="table table-striped m-b-0">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Mobile</th>
											<th>Email Address</th>
											<th>Account Type</th>
											<th>Ballance</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{{#each usersData }}
											<tr>
												<td class="with-img">
													<img src="../assets/img/user/user-1.jpg" class="img-rounded height-30" />
												</td>
												<td>{{ this.firstname }} {{ this.lastname }}</td>
												<td>{{ this.mobile }}</td>
												<td>{{ this.email }}</td>
												<td>{{ this.account_type }}</td>
												<td>{{this.wallets.[0].ballance}}</td>
												<td class="with-btn" nowrap>
													<a href="#edit_{{this.mobile}}" class="btn btn-sm btn-primary width-60 m-r-2" data-toggle="modal">Fund</a>
													<a href="admins/edit/{{this.account_type}}/{{this.email}}" class="btn btn-sm btn-info width-60 m-r-2">Edit</a>
													<a href="javascript:;" class="btn btn-sm btn-warning width-60 m-r-2">Block</a>
												</td>
												
												<td>
													{{> fund-modal}}
												</td>
											</tr>
											
										{{/each}}
									</tbody>
								</table>								
							</div>
							<div class="panel-footer text-center">
								<a href="javascript:;" class="text-inverse btn btn-default">View All</a>
							</div>
							<!-- end table-responsive -->
						</div>
						<div class="hljs-wrapper">
						
						</div>
					</div>
				</div>
			    <!-- begin col-4 -->
			    <div class="col-lg-4">
			        <!-- begin panel -->
			        <div class="panel panel-inverse" data-sortable-id="index-4">
			            <div class="panel-heading">
			                <h4 class="panel-title">Newly Registered Users <span class="pull-right label bg-gradient-teal">24 new users</span></h4>
			            </div>
                        <ul class="registered-users-list clearfix">
							{{#each usersData }}
								<li>
									<a href="javascript:;"><img src="./assets/img/user/user-12.jpg" alt="" /></a>
									<h4 class="username text-ellipsis">
										{{ this.firstname }}
										<small>{{ this.mobile }}</small>
										{{!-- <a href="javascript:;" class="btn btn-default btn-sm btn-block">View</a> --}}
										{{!-- <small>{{this.wallets.[0].ballance}}</small> --}}
									</h4>
								</li>
							{{/each}}
                        </ul>
			            <div class="panel-footer text-center">
			                <a href="javascript:;" class="text-inverse">View All</a>
			            </div>
			        </div>
			        <!-- end panel -->
			    </div>
			    <!-- end col-4 -->
			</div>
			{{/if}}
			<!-- end row -->
		</div>
		<!-- end #content -->

		