        <!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
				<li class="breadcrumb-item active">Dashboard v2</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Admin Dashboard</small></h1>{{admin.firstname}}
			<!-- end page-header -->
			

			<div class="row">
				
			</div>
			
			<!-- begin row -->
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-inverse" data-sortable-id="ui-widget-2">
						<div class="panel-heading ui-sortable-handle">
							
							<h4 class="panel-title">Registered Managers</h4>
						</div>
						<div class="panel-body">
                        	<!-- begin table-responsive -->
                        	<div class="table-responsive">
								<table class="table table-striped m-b-0">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Mobile</th>
											<th>Email Address</th>
											<th>Role</th>
											<th>Ballance</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{{#each managersData }}
											<tr>
												<td class="with-img">
													<img src="../assets/img/user/user-12.jpg" class="img-rounded height-30" />
												</td>
												<td>{{ this.firstname }} {{ this.lastname }}</td>
												<td>{{ this.mobile }}</td>
												<td>{{ this.email }}</td>
												<td>{{ this.role }}</td>
												<td>{{this.wallets.[0].ballance}}</td>
												<td class="with-btn" nowrap>
													<a href="#edit_{{this.mobile}}" class="btn btn-sm btn-primary width-60 m-r-2" data-toggle="modal">Fund</a>
													<a href="admins/edit/{{this.role}}/{{this.email}}" class="btn btn-sm btn-info width-60 m-r-2">Edit</a>
													<a href="javascript:;" class="btn btn-sm btn-warning width-60 m-r-2">Block</a>
													<a href="javascript:;" class="btn btn-sm btn-danger width-60">Delete</a>
												</td>
												
												<td>
													<!-- #modal-dialog -->
													<div class="modal fade" id="edit_{{this.mobile}}">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h4 class="modal-title">Fund {{ this.firstname }} <span class="badge badge-info">{{ this.role }}</span></h4>
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																</div>
																<div class="modal-body">
																	<form action="admins/fund/accounts/{{ this.role }}" method="POST" class="margin-bottom-0">
																		<div class="form-group m-b-20">
																			<label for="enter_amount">
																				Enter Amount 
																			</label>
																			<input type="float" name="fund_amount" class="form-control form-control-lg" placeholder="Enter Amount" required />
																		</div>

																		<div class="form-group m-b-20 d-none">
																			<input type="text" name="account_type" class="form-control form-control-lg" value="{{ this.role }}" required />
																			<input type="text" name="wallet_id" class="form-control form-control-lg" value="{{ this.wallets.[0].wallet_id }}" required />
																			<input type="text" name="u_id" class="form-control form-control-lg" value="{{ this._id }}" required />
																		</div>

																		<div class="form-group m-b-20">
																			<label for="remember_checkbox">
																				Type a remark for this funding (optional) 
																			</label>
																			<textarea name="remark" class="form-control form-control-lg" placeholder="Enter remark for this funds generation" rows="3"></textarea>
																		</div>
																		<div class="checkbox checkbox-css m-b-20">
																			<input type="checkbox" id="remember_checkbox" /> 
																			<label for="remember_checkbox">
																				Acknowledge action 
																			</label>
																		</div>
																		<div class="login-buttons">
																			<button type="submit" class="btn btn-success btn-block btn-lg">Fund {{ this.role }}</button>
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<a href="javascript:;" class="btn btn-white btn-block btn-lg" data-dismiss="modal">Cancel</a>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
											
										{{/each}}
									</tbody>
								</table>								
							</div>
							<div class="panel-footer text-center">
								<a href="javascript:;" class="text-inverse btn btn-default">View All</a>
							</div>
							<!-- end table-responsive -->
						</div>
						<div class="hljs-wrapper">
						
						</div>
					</div>
				</div>
			    <!-- begin col-4 -->
			    <div class="col-lg-4">
			        <!-- begin panel -->
			        <div class="panel panel-inverse" data-sortable-id="index-4">
			            <div class="panel-heading">
			                <h4 class="panel-title">Newly Registered Users <span class="pull-right label bg-gradient-teal">24 new users</span></h4>
			            </div>
                        <ul class="registered-users-list clearfix">
							{{#each managersData }}
								<li>
									<a href="javascript:;"><img src="./assets/img/user/user-12.jpg" alt="" /></a>
									<h4 class="username text-ellipsis">
										{{ this.firstname }}
										<small>{{ this.mobile }}</small>
										{{!-- <a href="javascript:;" class="btn btn-default btn-sm btn-block">View</a> --}}
										{{!-- <small>{{this.wallets.[0].ballance}}</small> --}}
									</h4>
								</li>
							{{/each}}
                        </ul>
			            <div class="panel-footer text-center">
			                <a href="javascript:;" class="text-inverse">View All</a>
			            </div>
			        </div>
			        <!-- end panel -->
			    </div>
			    <!-- end col-4 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		